:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
  --bg: #fff;
  --fg: #0e0e0e;
  --cloud-width: 19vw;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  background-color: var(--bg);
  font-family: var(--font-family);
  line-height: 1.5;
  height: 100%;
}
body {
  min-height: 100%;
  background-color: var(--bg);
  color: var(--fg);
  line-height: inherit;
  margin: 0;
  background: linear-gradient(#0003, #fffa 50%),
    radial-gradient(closest-corner, transparent 80%, #0002, #000c);
}
main {
  position: relative;
}
header {
  text-align: center;
  padding: 4rem 0.5rem;
}
.flex {
  margin: auto;
  max-width: 48rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.side {
  flex: 0 0 3rem;
  width: 3rem;
  position: relative;
}
.hero {
  flex: 1 1 auto;
  position: relative;
}
.hero-img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
.tagline {
  font-size: 3.25rem;
  margin: 0;
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  line-height: 1;
  word-spacing: 0.25rem;
}
.tagline {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  padding-bottom: 2vw;
}
h2 {
  font-weight: 600;
  font-size: 19.5rem;
  line-height: 13rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  letter-spacing: 0.5rem;
  color: hsl(0 0 0 / 0%);
}
h1 {
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  right: 0;
  width: 100%;
}
@media (width < 48rem) {
  h1,
  .tagline {
    font-size: clamp(1.5rem, 6.5vw, 3.25rem);
  }
  .side {
    flex-basis: 6vw;
    width: 6vw;
  }
  h2 {
    font-size: clamp(1rem, 38vw, 19.5rem);
    line-height: 28vw;
  }
}
@media (width < 27rem) {
  .flex {
    display: block;
  }
  .side {
    width: 100%;
  }
  .tagline {
    transform: none;
    writing-mode: inherit;
    padding-bottom: 0;
  }
  h1 {
    word-spacing: -0.05rem;
    letter-spacing: -0.05rem;
    font-size: clamp(1.5rem, 7.4vw, 3.25rem);
    bottom: -0.5rem;
  }
  .tagline {
    font-size: 2rem;
    letter-spacing: normal;
  }
}

section {
  position: relative;
  z-index: 99;
  background-image: url("./sports.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10.5% 0;
}
h3 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 2px;
  margin: 0;
  color: #000c;
  text-shadow: 2px 2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff,
    2px -2px 0 #fff, 0 0 0.5rem #000c, 0 0 1rem #0009, 0 0 2rem #0009;
}
@media (width > 24rem) {
  h3 {
    font-size: 3rem;
  }
}
@media (width > 28rem) {
  h3 {
    font-size: 3.5rem;
  }
}
@media (width > 32rem) {
  h3 {
    font-size: 4rem;
  }
}

#loading {
  background: radial-gradient(ellipse at top, #0005, #000),
    radial-gradient(ellipse at 50% 20%, #0005, #000),
    linear-gradient(transparent, #000);
  position: absolute;
  z-index: 999;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  transition-delay: 0.25s;
}
#loading.hide {
  opacity: 0;
}
